body,p {
    margin:0;
}

#map{ 
    height: 100%;
    width: 100%;
    z-index: 1;
}

#ct7{
    position:absolute;
    color: aliceblue;
    background-color: black;
    z-index: 2;
    top: 15%;
    right: 0;
}

#mydiv{
    position:absolute;
    display: none;
    background-color: rgba(255,255,255,0.48);
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    width: 20vw;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    font-size: 1rem;
}

#selection{
    height: 10%;
    color: aliceblue;
    align-items: center;
    justify-content: space-evenly;
}

ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
    width: 25%;
}

li button{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
    background-color: #3b383e;
    border-style: none;
    outline: none;
}


li button:hover:not(.active) {
    opacity: .75;
}

.active {
    background-color: #48c95c;
}

.bottom-container{
    display: flex;
    height: 30vh;
}

.unbalance{
    height: 100%;
    width: 24%;
    border-right: 0.1rem solid white;
    background-color: black;
}

.weather{
    display: flex;
    height: 100%;
    width: 40%;
    background-color: black;
    color: aliceblue;
    border-right: 0.1rem solid white;
}


#unbalance-list{
    overflow: auto;
    height: 80%;
}

.total{
    color: aliceblue;
    bottom: 0;
    background-color: black;
    height: 10%;
    border-top: 0.1rem solid white;
}

.container{
    position: relative;
    width: 100vw;
    height: 70vh;
}

#search-box{
    position: absolute;
    z-index: 2;
    top: 20%;
    right: 0;
    background-color: black;
    color: white;
}

#valid-msg{
    position: absolute;
    z-index: 2;
    top: 30%;
    right: 0;
    background-color: rgb(49, 210, 34);
    color: azure;
    border-radius: 15px;
    width: 15%;
    border-style: solid;
    border-color: white;
    text-align: center;
    opacity: 0;
    transition: 1s opacity;
}

#invalid-msg{
    position: absolute;
    z-index: 2;
    top: 30%;
    right: 0;
    background-color: rgb(210, 34, 34);
    color: azure;
    border-radius: 15px;
    width: 15%;
    border-style: solid;
    border-color: white;
    text-align: center;
    opacity: 0;
    transition: 1s opacity;
}



.chart-container{
    
    width: 70%;   
    height: 100%;
}

.chart{
    display: block;
    height: 50%;
    width: 100%;
}

.weatherinfo{
    width: 30%;
}

#myChart{
    height: 50%;
}
.dummy1{
    width: 28%;
    background-color: black;
    border-right: 0.1rem solid white;
}

.dummy2{
    width: 28%;
    background-color: black;
}

.icon-list {
    font-size: 1rem;
    color:white;
    background-color: #4B0082;
    border-radius: 0% 0% 10px 10px;
    height: 1.3rem;
    width: 12%;
    position: absolute;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    text-align: center;
    overflow: hidden;
    top:0%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 3;
    border-style: none solid solid solid;
    transition: 1s;
}

.icon-list:hover {
    height: 2.8rem;
    width: 25%;
}

